.terminal {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  background: #000;
  color: #bbb;
  font-family: monospace;
  white-space: pre;
  font-size: 1rem;
}

.helpRow {
  display: flex;
}

.helpRow div {
  flex-grow: 1;
  flex-basis: 0;
}

.helpRow div:first-child {
  padding-left: 5rem;
}

.helpRow div:last-child {
  flex-grow: 9;
}
